<h1>Stupid Coaching</h1>
<h2>Ask your coach anything</h2>
<%= @ask %>

<h3>-You</h3>
<div class = answer>
<%= @answer %>
<h3>Your coach</h3>
</div>

<%= link_to "What else you want to ask?", ask_path %>
